<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties" />
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<package name="mybatis_study.dto"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="mybatis_study.jdbc.HikariCPFactory" />
		</environment>
	</environments>
	
	<mappers>
		<!-- <mapper resource = "mybatis_study/mappers/StudentMapper.xml" /> -->
		<package name="mybatis_study.mappers" />
	</mappers>
</configuration>